<!--
<p class="lead" style="text-align:center">
<img style="margin-top:.5em;  margin-bottom:   0em;  margin-left:2.00em" src="figures/logo/erc.png"   alt="logo" width="25%">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img style="margin-top:.5em;  margin-bottom: 1.5em;  margin-left:2.00em" src="figures/logo/inria.png" alt="logo" width="25%">
</p>
-->

<p class="lead" style="text-align:justify">
<img style="display:inline-block; float: right; margin-top:.5em;  margin-bottom: 0em;  margin-left:2.00em" src="figures/logo/erc-inria_450px.png"   alt="logo" width="25%">
Waves propagating through a complex medium provide a non-invasive way to probe its interior structures. In ambient noise imaging, 
the input data are the cross-correlation of the stochastic wavefields. To reconstruct the properties of the medium, the waveform 
inversion is formulated as an optimization problem involving a misfit function whose convexity plays a critical role in the achievable 
spatial resolution of the inversion results, especially in the absence of a priori information about the medium. 
<!-- Current inversions are often limited by computational cost, cross-talk between the physical quantities, and the use of single-scattering approximations. -->
Project INCORWAVE proposes to create a new mathematical and computational framework for nonlinear inversion of full waveform cross-correlation. 

<!--
Two specific problems are considered: first, for the reconstruction of geophysical visco-elasticity tensors with applications to Earth's 
subsurface monitoring; secondly, for the reconstruction of three-dimensional flows in the Sun to characterize the poorly understood properties 
of deep solar convection. To improve the convexity of misfit functions, the inversion procedure of project INCORWAVE will follow a hierarchical 
progression which is established by selecting subsets of input data, unknown parameters, and frequencies. The choice of each of these subsets, 
as well as the associated misfit function, is controlled by criteria in form of convergence estimates. Indispensable to meaningful inversion is 
accurate modeling operators that describe the physics under consideration and that are adapted to the treatment of real data. For the 
reconstruction of the elasticity tensor, the project will develop a solver in terms of P- and S-potentials for heterogeneous media. 
A 3D global Sun vector-wave solver is created for the inversion of the convection component of the solar flow that does not bear symmetry.
-->

</p>
   
