{{- $taxo := "tags" -}}
{{- with .Param $taxo -}}
<div class="meta__item-tags meta__item">
	{{- partial "svg/tag.svg" (dict "class" "meta__icon") -}}
	<span class="meta__text">
		{{- range $index, $tag := . }}
			{{- $url := urls.Parse ($tag | urlize) -}}
			{{- $path := $url.Path -}}
			{{- with $.Site.GetPage (printf "/%s/%s" $taxo $path) }}
<!--
				{{- if gt $index 0 }}, {{ end -}}
-->
				{{- if gt $index 0 }} &nbsp; {{- partial "svg/tag.svg" (dict "class" "meta__icon") -}} {{ end -}}
				<a class="meta__link" href="{{ .RelPermalink }}" rel="tag">{{ .Title }}</a>
<!--
				{{ .Title }}
-->
			{{- end }}
		{{- end }}
	</span>
</div>
{{- end }}
